@import './draft.scss';
// @import './antd.scss';
body {
	padding:0;
	margin:0px;
	width: 100vw;
	height: 100vh;
	background-color: white;
}

div {
	box-sizing: border-box;
}
:focus{
	border: none;
	outline: none;
}
input{
	&:focus{
		border:none!important;
	}
}


:global(.article-table-title) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
	padding-right: 10px;

    >span:nth-child(n+2) {
		>div {
			transform: scale(.7);
			cursor: default;
		}
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
